<!DOCTYPE html>

<html>
<head>
		<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
		<title>Hello, World!</title>
</head>
<body>
		{% for a in range(5) %}
		<h1>
				add
		</h1>
		{% endfor %}
		<form action="" method="post">
				{% csrf_token %}
				<label for="nomei">nome:</label>
				<input name="nome" type="" id="nomei" maxlength="10" required="true">
				<br>
				<label for="nomei">senha:</label>
				<input name="password" type="password" id="nomei" minlength="8" maxlength="10" required="true">
				<br>
				<input type="submit" value="enviar">
				<p id="erro" style="color:red">Usuario já existente</p>
		</form>
		<script>
		var erro = {{erro}}
		dedect()
		
		function dedect(){
				
				var errod = document.getElementById('erro')
				if (erro == 0) {
						errod.style.display = "none"
				} else {
						errod.style.display = "display"
				}
				
		}
		</script>
</body>
</html>
